In [1]:
%load_ext sql

In [2]:
# %reload_ext sql

In [3]:
%sql postgresql://guest:guest123@127.0.0.1/sparkifydb

'Connected: guest@sparkifydb'

In [4]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://guest:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [5]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://guest:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [6]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://guest:***@127.0.0.1/sparkifydb
1 rows affected.

[('SONYPOM12A8C13B2D7', 'I Think My Wife Is Running Around On Me (Taco Hell)', 'ARDNS031187B9924F0', 2005, 186.48771)]

In [7]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://guest:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [8]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://guest:***@127.0.0.1/sparkifydb
0 rows affected.

[]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).