In [1]:
%load_ext sql

In [2]:
 %reload_ext sql

In [3]:
%sql postgresql://guest:guest123@127.0.0.1/sparkifydb

'Connected: guest@sparkifydb'

In [4]:
%sql SELECT * FROM songplays LIMIT 40;

 * postgresql://guest:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [5]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://guest:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [7]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://guest:***@127.0.0.1/sparkifydb
5 rows affected.

[('SONYPOM12A8C13B2D7', 'I Think My Wife Is Running Around On Me (Taco Hell)', 'ARDNS031187B9924F0', 2005, 186.48771),
 ('SOZQDIU12A58A7BCF6', 'Superconfidential', 'ARNTLGG11E2835DDB9', 0, 338.31138),
 ('SOVYKGO12AB0187199', 'Crazy Mixed Up World', 'ARH4Z031187B9A71F2', 1961, 156.39465),
 ('SOLLHMX12AB01846DC', 'The Emperor Falls', 'AR1Y2PT1187FB5B9CE', 0, 484.62322),
 ('SOGOSOV12AF72A285E', '¿Dónde va Chichi?', 'ARGUVEV1187B98BA17', 1997, 313.12934)]

In [8]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://guest:***@127.0.0.1/sparkifydb
5 rows affected.

[('ARDNS031187B9924F0', 'Tim Wilson', 'Georgia', 32.67828, -83.22295),
 ('ARNTLGG11E2835DDB9', 'Clp', '', nan, nan),
 ('ARH4Z031187B9A71F2', 'Faye Adams', 'Newark, NJ', 40.73197, -74.17418),
 ('AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', 27.94017, -82.32547),
 ('ARGUVEV1187B98BA17', 'Sierra Maestra', '', nan, nan)]

In [9]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://guest:***@127.0.0.1/sparkifydb
0 rows affected.

[]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).