In [1]:
%load_ext sql

In [2]:
 %reload_ext sql

In [3]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: guest@sparkifydb'

In [4]:
%sql SELECT * FROM songplays LIMIT 40;

 * postgresql://guest:***@127.0.0.1/sparkifydb
40 rows affected.

[(0, datetime.datetime(2018, 11, 16, 0, 0, 57, 796000), '44', 'paid', None, None, 637, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (1, datetime.datetime(2018, 11, 16, 0, 4, 48, 796000), '44', 'paid', None, None, 637, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (3, datetime.datetime(2018, 11, 16, 0, 8, 46, 796000), '44', 'paid', None, None, 637, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (4, datetime.datetime(2018, 11, 16, 0, 11, 51, 796000), '44', 'paid', None, None, 637, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (5, datetime.datetime(2018, 11, 16, 0, 15, 12, 796000), '44', 'paid', None, None, 637, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (6, datetime.datetime(2018, 11, 16, 0, 18, 33, 796000), '44', 'paid', None, None, 637, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (7, datetime.datetime(2018, 11, 16, 0, 22, 58, 796000), '44', 'paid', None, None, 637, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (8, datetime.datetime(2018, 11, 16, 0, 27, 7, 796000), '44', 'paid', None, None, 637, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (10, datetime.datetime(2018, 11, 16, 5, 28, 12, 796000), '6', 'free', None, None, 535, 'Atlanta-Sandy Springs-Roswell, GA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) Gecko/20100101 Firefox/32.0'),
 (11, datetime.datetime(2018, 11, 16, 5, 32, 24, 796000), '6', 'free', None, None, 535, 'Atlanta-Sandy Springs-Roswell, GA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) Gecko/20100101 Firefox/32.0'),
 (17, datetime.datetime(2018, 11, 16, 8, 2, 56, 796000), '26', 'free', None, None, 622, 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (20, datetime.datetime(2018, 11, 16, 8, 9, 22, 796000), '26', 'free', None, None, 622, 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (23, datetime.datetime(2018, 11, 16, 8, 12, 59, 796000), '88', 'free', None, None, 614, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (24, datetime.datetime(2018, 11, 16, 8, 16, 1, 796000), '88', 'free', None, None, 614, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (25, datetime.datetime(2018, 11, 16, 8, 20, 17, 796000), '26', 'free', None, None, 622, 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (27, datetime.datetime(2018, 11, 16, 8, 38, 2, 796000), '49', 'paid', None, None, 636, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (28, datetime.datetime(2018, 11, 16, 8, 43, 25, 796000), '49', 'paid', None, None, 636, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (29, datetime.datetime(2018, 11, 16, 8, 47, 22, 796000), '49', 'paid', None, None, 636, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (30, datetime.datetime(2018, 11, 16, 8, 54, 29, 796000), '80', 'paid', None, None, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (31, datetime.datetime(2018, 11, 16, 8, 55, 39, 796000), '49', 'paid', None, None, 636, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (32, datetime.datetime(2018, 11, 16, 8, 57, 28, 796000), '80', 'paid', None, None, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (33, datetime.datetime(2018, 11, 16, 9, 0, 34, 796000), '49', 'paid', None, None, 636, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (34, datetime.datetime(2018, 11, 16, 9, 1, 37, 796000), '80', 'paid', None, None, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (35, datetime.datetime(2018, 11, 16, 9, 4, 30, 796000), '80', 'paid', None, None, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (36, datetime.datetime(2018, 11, 16, 9, 5, 49, 796000), '49', 'paid', None, None, 636, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (37, datetime.datetime(2018, 11, 16, 9, 9, 42, 796000), '80', 'paid', None, None, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (38, datetime.datetime(2018, 11, 16, 9, 12, 17, 796000), '49', 'paid', None, None, 636, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (39, datetime.datetime(2018, 11, 16, 9, 13, 28, 796000), '80', 'paid', None, None, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (40, datetime.datetime(2018, 11, 16, 9, 16, 59, 796000), '80', 'paid', None, None, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (41, datetime.datetime(2018, 11, 16, 9, 17, 10, 796000), '49', 'paid', None, None, 636, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (42, datetime.datetime(2018, 11, 16, 9, 20, 41, 796000), '80', 'paid', None, None, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (43, datetime.datetime(2018, 11, 16, 9, 21, 6, 796000), '49', 'paid', None, None, 636, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (44, datetime.datetime(2018, 11, 16, 9, 24, 47, 796000), '80', 'paid', None, None, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (45, datetime.datetime(2018, 11, 16, 9, 26, 13, 796000), '49', 'paid', None, None, 636, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (46, datetime.datetime(2018, 11, 16, 9, 27, 11, 796000), '80', 'paid', None, None, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (47, datetime.datetime(2018, 11, 16, 9, 30, 2, 796000), '49', 'paid', None, None, 636, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (48, datetime.datetime(2018, 11, 16, 9, 33, 4, 796000), '49', 'paid', None, None, 636, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (50, datetime.datetime(2018, 11, 16, 9, 35, 0, 796000), '49', 'paid', None, None, 636, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (52, datetime.datetime(2018, 11, 16, 9, 41, 29, 796000), '80', 'paid', None, None, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (53, datetime.datetime(2018, 11, 16, 9, 47, 0, 796000), '80', 'paid', None, None, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [5]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://guest:***@127.0.0.1/sparkifydb
5 rows affected.

[(85, 'Kinsley', 'Young', 'F', 'paid'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (69, 'Anabelle', 'Simpson', 'F', 'free'),
 (83, 'Stefany', 'White', 'F', 'free'),
 (32, 'Lily', 'Burns', 'F', 'free')]

In [6]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://guest:***@127.0.0.1/sparkifydb
5 rows affected.

[('SONYPOM12A8C13B2D7', 'I Think My Wife Is Running Around On Me (Taco Hell)', 'ARDNS031187B9924F0', 2005, 186.48771),
 ('SOZQDIU12A58A7BCF6', 'Superconfidential', 'ARNTLGG11E2835DDB9', 0, 338.31138),
 ('SOVYKGO12AB0187199', 'Crazy Mixed Up World', 'ARH4Z031187B9A71F2', 1961, 156.39465),
 ('SOLLHMX12AB01846DC', 'The Emperor Falls', 'AR1Y2PT1187FB5B9CE', 0, 484.62322),
 ('SOGOSOV12AF72A285E', '¿Dónde va Chichi?', 'ARGUVEV1187B98BA17', 1997, 313.12934)]

In [7]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://guest:***@127.0.0.1/sparkifydb
5 rows affected.

[('ARDNS031187B9924F0', 'Tim Wilson', 'Georgia', 32.67828, -83.22295),
 ('ARNTLGG11E2835DDB9', 'Clp', '', nan, nan),
 ('ARH4Z031187B9A71F2', 'Faye Adams', 'Newark, NJ', 40.73197, -74.17418),
 ('AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', 27.94017, -82.32547),
 ('ARGUVEV1187B98BA17', 'Sierra Maestra', '', nan, nan)]

In [9]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://guest:***@127.0.0.1/sparkifydb
0 rows affected.

[]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).