In [14]:
import pandas as pd
import json as j

In [68]:
log_file = 'data/log_data/2018/11/2018-11-12-events.json'

In [69]:
view_log = pd.read_json(json_file, lines=True) # lines = true is used to avoid error of trailing data
view_log.head(3)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Celeste,F,0,Williams,NaN,free,"Klamath Falls, OR",GET,Home,1.541078e+12,438,None,200,1541990217796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53
1,Pavement,Logged In,Sylvie,F,0,Cruz,99.16036,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",PUT,NextSong,1.540266e+12,345,Mercy:The Laundromat,200,1541990258796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",10
2,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Logged In,Celeste,F,1,Williams,277.15873,free,"Klamath Falls, OR",PUT,NextSong,1.541078e+12,438,Horn Concerto No. 4 in E flat K495: II. Romanc...,200,1541990264796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53

In [79]:
song_file = 'data/song_data/A/A/B/TRAABCL128F4286650.json'

In [80]:
with open(song_file, 'r') as f:
    x = j.load(f)
print(x)

{'num_songs': 1, 'artist_id': 'ARC43071187B990240', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': 'Wisner, LA', 'artist_name': 'Wayne Watson', 'song_id': 'SOKEJEJ12A8C13E0D0', 'title': 'The Urgency (LP Version)', 'duration': 245.21098, 'year': 0}

In [81]:
view_song = pd.read_json(song_file, orient='columns',lines=True)
view_song

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARC43071187B990240,NaN,NaN,"Wisner, LA",Wayne Watson,SOKEJEJ12A8C13E0D0,The Urgency (LP Version),245.21098,0